#titre{
  font-size: 50px;
  text-align: center;
}
.resultats{
  font-size: 30px;
  margin-top: 150px;
  text-align: center;
}
.btn{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}
button{
  background-color: #ADD8E6;
  color: black;
  padding: 16px 80px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;
}
